/* CSS for AddTaskForm component */
.add-task-container {
    display: flex;
    flex-direction: column;
}

.labels-task-name,
.labels-task-description,
.labels-task-dates,
.labels-task-priority,
.labels-task-category {
    margin-bottom: 8px;
}

.dropdown-priority,
.dropdown-category {
    margin-bottom: 8px;
}

.dropdown-category {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */    
}

#dropdown-task-priority,
#dropdown-task-categories {
    width: 140px;
}

.labels-task-category { /* Adjust margin for Category label */
    margin-top: 8px;
    margin-bottom: 8px;
    width: 140px;
}

#addTask {
    width: 150px;
    height: 40px;
    margin-top: 16px; /* Add margin to the Add task button */
}

.add-task-sidebar {
    flex: 0 0 33%;
    padding: 20px;
}

