/* CSS for TasksBoard component */
.task-columns {
  display: flex;
  justify-content: space-between;
}

.tasks-board {
  overflow-y: auto; 
}

.task-column {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px; 
  height: auto;
  max-height: 80vh;
  overflow-y: auto; 
}

.task-column:last-child {
  margin-right: 0;
}

.task-column h2 {
  text-align: center;
}

.task-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task-card {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  border-radius: 5px;
  position: relative;
}

.card-header {
  font-weight: bold;
}



.tasks-button {
  cursor: pointer;
}

.tasks-button:hover {
  background-color: #515355;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}

#filtersTitle {
  margin-top: 5px;
  margin-bottom: 5px;
}

#clearButton {
  margin-top: 10px;
}
.filters {
  display: flex;
}

.filters-box,
.remove-user-tasks {
  flex: 1;
  margin-right: 10px;
}



.task-card.low-priority {
  background-color: green;
}

.task-card.medium-priority {
  background-color: yellow;
}

.task-card.high-priority {
  background-color: red;
}



.task-card.priority-low {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px; /* Adjust thickness of strip */
  height: 100%;
  background-color: green; /* Low priority color */
}

.task-card.priority-medium::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px; /* Adjust thickness of strip */
  height: 100%;
  background-color: yellow; /* Medium priority color */
}

.task-card.priority-high::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px; /* Adjust thickness of strip */
  height: 100%;
  background-color: red; /* High priority color */
}

.card-header {
  font-weight: bold;
}