/* Login.css */

.input-fields {
    margin-bottom: 20px;
}

.input-fields label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.1em; /* Increase font size of labels */
}

.input-fields input {
    margin-bottom: 20px;
}

/* Add margin-bottom to the input field for password */
.input-fields label:nth-child(2) input {
    margin-bottom: 10px; /* Adjust the value as needed */
}

.register-button {
    margin-top: 20px;
}
