.Register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .page-wrap {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center; 
  }
  
  
  form {
    display: flex;
    flex-direction: column; /* Display input fields vertically */
    align-items: center; /* Center elements horizontally */
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  