/* UserManagement.css */

.task-categories-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.page-title {
  margin-bottom: 20px;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.add-user-column {
  flex: 1;
}

.users-board {
  flex: 2;
}
.add-user-column {
  margin-right: 20px; /* Add margin for spacing */
}

.add-user-column h2 {
  text-align: center;
}

.users-board h3 {
  text-align: center;
}

.users-table {
  width: 90%;
  border-collapse: collapse;
}

.users-table th,
.users-table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.users-table th {
  background-color: #f0f0f0;
}

.users-table-button {
  cursor: pointer;
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #515355;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.users-table-button:hover {
  background-color: #333;
}

.homeMenu-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.users-button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #515355;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.users-button:hover {
  background-color: #333;
}

.add-user-form {
  width: 300px; /* Adjust the width as needed */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.add-user-form h3 {
  text-align: center;
  margin-bottom: 10px;
}

.add-user-form button {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.add-user-form input,
.add-user-form select {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.add-user-form button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.add-user-form button:hover {
  background-color: #0056b3;
}

#warningMessage1 {
  color: red;
  text-align: center;
}
